<header class="tsh-header">
    <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center">
        <div class="d-flex justify-content-between align-items-center mb-4 mb-lg-0 tsh-brand">
            <span>
                hire.me
            </span>
            <button type="button" class="btn btn-outline-tsh tsh-login-button d-lg-none"
                tooltip="This feature will be available in the future.">Log in</button>
        </div>
        <div class="d-flex flex-column flex-lg-row tsh-product-filters">
            <app-search-input (valueChanged)="updateInputValue($event)">
            </app-search-input>
            <div class="d-flex mt-4 mt-lg-0 ml-lg-4">
                <div class="form-check tsh-check d-flex align-items-center">
                    <input (change)="updateProducts()" [(ngModel)]="activeCheck" class="form-check-input mt-0"
                        type="checkbox" id="activeCheck">
                    <label class="form-check-label ml-3" for="activeCheck">
                        Active
                    </label>
                </div>
                <div class="form-check tsh-check ml-4 d-flex align-items-center">
                    <input (change)="updateProducts()" [(ngModel)]="promoCheck" class="form-check-input mt-0"
                        type="checkbox" id="promoCheck">
                    <label class="form-check-label ml-3" for="promoCheck">
                        Promo
                    </label>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-outline-tsh tsh-login-button d-none d-lg-block"
            tooltip="This feature will be available in the future.">Log in</button>
    </div>
</header>