@use "../3-helpers/variables";

.btn-outline-tsh {
  color: variables.$tsh-blue;
  border-color: variables.$tsh-blue;
  background-color: white;
  &:hover {
    color: white;
    background-color: variables.$tsh-blue;
  }
}

.btn-details-tsh {
  color: white;
  background-color: variables.$tsh-blue;
  width: 100%;
  &[disabled] {
    background-color: variables.$tsh-unavailable;
    opacity: 1;
  }
}
