@use "../3-helpers/variables";

.tsh-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  padding: 3.25rem 1.5rem 2rem 1.5rem;
  height: variables.$header-mobile-height;
  @media (min-width: variables.$lg-width) {
    height: variables.$header-desktop-height;
    padding: 3.25rem 6.75rem;
  }
  .tsh-brand {
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .tsh-product-filters {
    flex-grow: 2;
  }
  .tsh-login-button {
    width: 5.5rem;
  }
}
