@use "../3-helpers/variables";

.loading-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  width: 8rem;
  height: 8rem;
  margin: -4rem 0 0 -4rem;
  border: 1rem solid;
  border-radius: 50%;
  border-color: variables.$tsh-grey;
  border-top-color: variables.$tsh-dark;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
