@use "../3-helpers/variables";
@use "../3-helpers/placeholders";

.product-card {
  position: relative;
  margin-bottom: 3rem;
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .promo-label {
    @extend %flex-center-center;
    position: absolute;
    top: 2rem;
    left: 0;
    width: 4.7rem;
    height: 1.5rem;
    background-color: variables.$tsh-orange;
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
  }
  .product-name {
    font-weight: 600;
    height: 2.4rem;
  }
  .product-description {
    color: #9194a5;
    font-size: 0.875rem;
    height: 3rem;
    line-height: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
    margin-bottom: 1rem;
  }
  .product-rating {
    color: variables.$tsh-orange;
  }
}
