@use "../3-helpers/placeholders";
@use "../3-helpers/variables";

.tsh-search-input {
  @extend %flex-between-center;
  border: variables.$tsh-input-border;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem 0.75rem;
  input {
    padding: 0;
    flex-grow: 1;
    border: none;
    &:focus {
      outline: none;
    }
  }
  fa-icon {
    cursor: pointer;
  }
}
