@use "../3-helpers/variables";
@use "../3-helpers/placeholders";

main {
  background-color: variables.$tsh-product-list-background;
  min-height: 100vh;
  max-height: min-content;
  width: 100%;
  padding-top: variables.$header-mobile-height + 3rem;
  padding-bottom: 3rem;
  .no-products-block {
    @extend %flex-center-center;
    width: 100%;
    height: 18rem;
    .message-wrapper {
      @extend %flex-center-center;
      flex-direction: column;
      background-color: white;
      height: 100%;
      width: 90%;
      padding: 1rem;
      max-width: 37.5rem;
      fa-icon {
        color: variables.$tsh-grey;
      }
      .message-description {
        color: variables.$tsh-grey;
        font-size: 0.875rem;
      }
    }
  }
  .pagination-wrapper {
    @extend %flex-center-center;
    width: 100%;
    position: absolute;
    bottom: 4rem;
  }
  @media (min-width: variables.$lg-width) {
    padding: 3.5rem 6.75rem;
    padding-top: variables.$header-desktop-height + 3rem;
    .pagination-wrapper {
      bottom: 3rem;
    }
  }
  .page-item.active .page-link {
    background-color: variables.$tsh-blue;
  }
  .page-item:not(.active) .page-link {
    color: variables.$tsh-blue;
  }
}
