<div class="tsh-search-input">
    <input (change)="onChange()" [(ngModel)]="searchString" #inputField type="text" placeholder="Search" />
    <fa-icon (click)="onChange()" [icon]="faSearch"></fa-icon>
</div>