%flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

%flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
