// colors
$tsh-dark: #1a1b1d;
$tsh-blue: #4460f7;
$tsh-orange: #f9a52b;
$tsh-grey: #b9bdcf;
$tsh-unavailable: #9194a5;
$tsh-product-list-background: #f2f2f2;

// form controls
$tsh-input-border: 1px solid #e0e2ea;

// measurements
$header-mobile-height: 15.5rem;
$header-desktop-height: 9rem;

// breakpoints
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
