<div *ngIf="productsLoading" class="loading-spinner"></div>
<main>
    <div *ngIf="products && products.meta.totalItems !== 0; else noProducts" class="container">
        <div class="row">
            <div *ngFor="let product of products.items" class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <pagination [maxSize]="pagesLimit" [totalItems]="products.meta.totalItems"
                    [itemsPerPage]="products.meta.itemCount" [(ngModel)]="currentPage"
                    (pageChanged)="onPageChange($event)"></pagination>
            </div>
        </div>
    </div>
    <ng-template #noProducts>
        <div *ngIf="!productsLoading" class="no-products-block">
            <div class="message-wrapper">
                <fa-icon class="mb-3" (click)="onChange()" [icon]="faShoppingBag" size="2x"></fa-icon>
                <span class="message-title font-weight-bold">Oooops... It's empty here</span>
                <p class="message-description">There are no products on the list. </p>
            </div>
        </div>
    </ng-template>
</main>