<div class="product-card">
    <img [ngStyle]="!product.active && { 'filter': 'grayscale(100%)' }" class="card-image" [src]="product.image" />
    <div *ngIf="product.promo" class="promo-label">Promo</div>
    <div class="card-description bg-white p-3">
        <h6 class="product-name">{{product.name}}</h6>
        <p class="product-description">{{product.description}}</p>
        <rating class="product-rating" [(ngModel)]="product.rating" [max]="5" [readonly]="true"></rating>
        <button [disabled]="!product.active" (click)="openProductModal(productModal)"
            class="btn btn-details-tsh mt-2">{{product.active ? 'Show details' : 'Unavailable'}}</button>
    </div>
</div>
<ng-template #productModal>
    <img [src]="product.image" />
    <div class="p-3">
        <h4 class="product-name">{{product.name}}</h4>
        <p class="product-description">{{product.description}}</p>
        <button (click)="bsModalRef.hide()" class="btn btn-details-tsh mt-2">Close</button>
    </div>
</ng-template>